<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/static/styles/login.css}">
</head>
<body>
<div class="container">
    <h1 class="title">Регистрация</h1>
    <form method="POST" th:action="@{/auth/registration}">
        <label>
            <input type="text" placeholder="Имя пользователя" name="username">
        </label>
        <label>
            <input type="text" placeholder="Пароль" name="rawPassword">
        </label>
        <input type="submit" value="Зарегистрироваться!">
    </form>
</div>
</body>
</html>