@media (max-width: 1180px) {
    .header-icons button {
        display: none;
    }
}

.current-position {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.more-icon {
    width: 14px;
    height: 14px;
    border: 1px solid #110C1F;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;
}

.current-position span {
    font-size: 10px;
    font-weight: 400;
    margin-right: 8px;
}

.reviews-container {
    display: flex;
}

.rating-container {
    display: flex;
    margin-bottom: 8px;
}

.rating {
    font-size: 14px;
    margin-right: 24px;
}

.star {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.rating-count {
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}

.review-book-name,
.review-book-author {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
}


.book-image-container {
    padding-top: 8px;
    padding-bottom: 14px;
    display: flex;
    justify-content: center;
}

.book-image-container img {
    width: 176px;
    height: 277px;
}

.book-info {
    width: 271px;
    height: 220px;
    padding: 16px 32px;
    box-shadow: 1px 0 27px -5px rgba(31, 26, 45, 0.22);
    display: flex;
    flex-direction: column;
}

.book-info-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.price-info {
    display: flex;
    align-items: center;
}

.price {
    font-size: 32px;
    font-weight: 700;
    margin-right: 13px;
}

.points {
    font-size: 15px;
    font-weight: 400;
}

.book-actions {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.buy-button {
    padding: 12px 32px;
    width: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #290247;
    border: none;
    color: white;
    border-radius: 5px;
    margin-right: 17px;
}

.favorites {
    width: 21px;
    height: 33px;
}

.delivery-options {
    display: flex;
    flex-direction: column;
}

.delivery-option {
    display: flex;
    margin-bottom: 23px;
}

.delivery-options .delivery-option:last-child {
    margin-bottom: 0;
}

.delivery-option img {
    margin-right: 9px;
}

.delivery-details {
    display: flex;
    flex-direction: column;
}

.delivery-details h1 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
}
.delivery-details span {
    font-size: 10px;
    font-weight: 400;
}

.delivery-details-container {
    display: flex;
}

.delivery-details span:first-child {
    margin-right: 8px;
}

.delivery-details span:last-child {
    text-decoration: underline;
}

.book-detail-info {
    margin-top: 24px;
    margin-bottom: 32px;
}

.info {
    height: 32px;
    display: flex;
    border-bottom: 1px solid #110C1F;
    align-items: center;
    justify-content: space-between;
}

.info:last-child {
    border-bottom: none;
}

.book-detail-info .info:last-child {
    border-bottom: none;
}

span {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 13px;
    font-weight: 400;
    line-height: 156%;
    color: #110C1F;
    max-height: 180px;
    overflow: hidden;
}

.more {
    font-size: 12px;
    font-weight: 700;
    color: #110C1F;
    text-decoration: underline;
}

.review {
    width: 166px;
    height: 178px;
    background-image: url("../images/Ellipse 22.svg");
    background-repeat: no-repeat;
    background-position: left top;
    border-radius: 5px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0 27px -5px rgba(31, 26, 45, 0.22);
}

.review-book-author {
    font-size: 12px;
    font-weight: 400;
    color: #8D8D8D;
}

.review-book-name {
    font-size: 14px;
    font-weight: 400;
    color: #290247;
}

.review-book-name,
.review-book-author {
    margin-bottom: 4px;
}

.content {
    font-size: 10px;
    font-weight: 400;
    line-height: 123.5%;
    height: 60px;
    overflow: hidden;
    margin-bottom: 4px;
}

.full-review {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.full-review span {
    font-size: 12px;
    font-weight: 400;
    margin-right: 4px;
}

.more-icon {
    width: 16px;
    height: 16px;
    border: 1px solid #110C1F;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.avatar {
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.user-info span {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 400;
}

.review-reactions {
    display: flex;
    width: 85px;
    justify-content: space-between;
}

.reaction {
    display: flex;
    align-items: center;
}

.reaction img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.reaction span {
    font-size: 12px;
    font-weight: 400;
}

.swiper-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.swiper-slide{
    width: 166px;
}

.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid #110C1F;
}

.swiper-pagination-bullet-active {
    background-color: #110C1F;
}

.swiper {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1180px;
}

@media (min-width: 750px) {
    .swiper-slide {
        width: 441px;
    }
}

@media (min-width: 1440px) {
    .swiper-slide {
        width: 505px;
    }
}

@media (min-width: 1180px) {
    .swiper {
        padding: 0;
    }
}

hr {
    border-top: 1px solid #290247;
    margin-bottom: 24px;
    width: 100%;
}


.block-title {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.block-title .arrow {
    transition: all 350ms ease 0ms;
}

.block-title.active .arrow {
    transform: rotate(180deg);
}

.block-content {
    display: none;
    padding: 10px 0 0 0;
}

.block-item {
    margin: 0 0 20px 0;
}

.info {
    padding-top: 10px;
    padding-bottom: 10px;
}

.book-full-screen {
    display: none;
    justify-content: space-around;
}

.book-full-screen .book-image-container img {
    width: 226px;
    height: 356px;
}

.book-full-screen .container1 ,
.book-wide-screen .container1{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}


.book-full-screen .book-name,
.book-full-screen .book-author,
.book-wide-screen .book-name,
.book-wide-screen .book-author{
    font-weight: 400;
    color: #290247;
}

.book-full-screen .book-name,
.book-wide-screen .book-name{
    font-size: 16px;
}

.book-full-screen .book-author,
.book-wide-screen .book-author{
    font-size: 14px;
    margin-bottom: 16px;
}

.book-full-screen .book-info {
    width: 256px;
    height: 256px;
}

.book-full-screen .price-info {
    margin-bottom: 12px;
}

.book-small-screen {
    display: none;
}

.book-wide-screen .book-image-container {
    width: 16.6%;
    height: 26.3%;
}

.book-wide-screen .book-image-container img {
    width: 100%;
    height: 100%;
}

.book-wide-screen .container1 {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    width: 50% ;
}

.book-wide-screen {
    display: none;
    justify-content: space-between;
}

.book-wide-screen .book-detail-info {
    display: block;
    margin-top: 0;
}

.book-wide-screen .info {
    padding: 0;
}

.book-wide-screen .book-info-container {
    width: auto;
}

.book-wide-screen .book-info {
    width: auto;
}

@media (min-width: 970px) {
    .footer-small-screen {
        display: none;
    }
    .footer-full-screen {
        display: flex;
    }
}

@media (max-width: 969px) {
    .footer-small-screen {
        display: block;
    }
    .footer-full-screen {
        display: none;
    }
}

@media (max-width: 599px) {
    .book-small-screen {
        display: block;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .book-full-screen {
        display: flex;
    }
    p {
        max-height: 256px;
    }
}

@media (min-width: 900px) {
    .book-detail-info {
        display: none;
    }

    .book-wide-screen {
        display: flex;
    }
}