@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Philosopher, serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin-top: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1180px;
}

header {
    display: flex;
    justify-content: space-between;
}



.logo {
    margin-right: 15px;
}

.burger-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    border: 1px solid #290247;
    border-radius: 5px;
    margin-right: 32px;
}

.burger-button span {
    font-size: 15px;
    font-weight: 700;
    margin-right: 11px;
    display: none;
}

@media (min-width: 750px) {
    .burger-button span {
        display: block;
    }
}

header .container1 {
    display: flex;
    width: 70%;
}

.search {
    padding: 6px 12px 6px 35px;
    background: #E7E7E7 url("../images/search.svg") no-repeat center left 10px;
    border: none;
    border-radius: 5px;
    width: 60%;
    display: none;
}

.header-icons {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.header-text-icon {
    flex-direction: column;
    align-items: center;
    display: none;
}

.header-text-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header-text-icon span {
    font-size: 12px;
    font-weight: 400;
}

@media (min-width: 750px) and (max-width: 1180px) {
    .header-icons {
        width: 284px;
    }
}

.categories {
    display: flex;
    overflow-x: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tab {
    padding: 6px 16px;
    border: 1px solid #110C1F;
    border-radius: 10px;
    margin-right: 8px;
    transition: all 300ms ease 0ms;
    cursor: pointer;
}

.tab.active {
    background-color: #110C1F;
    color: white;
}

.categories::-webkit-scrollbar {
    display: none;
    width: 0;
}

.tabs-box {
    list-style: none;
}

.login-button {
    padding: 8px 12px;
    background-color: #290247;
    border: none;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1180px) {
    .header-icons button {
        display: none;
    }
}

@media (min-width: 1181px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 1148px;
    }

    .search {
        display: block;
    }

    .header-icon {
        display: none;
    }
    .header-icons {
        width: 250px;
        justify-content: space-between;
    }

    .header-text-icon {
        display: flex;
    }

    .burger-button {
        margin-right: 100px;
    }
}

a {
    color: #110C1F;
    text-decoration: none;
}

a:visited {
    color: #110C1F;
}

header a {
    height: 100%;
    display: flex;
    align-items: center;
}