<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/book.css}">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<div class="container1" style="padding-top: 85px">
    <div th:insert="~{fragment :: categories}"></div>
    <div class="container-info1">
        <img class="book-image" th:src="@{/api/books/{id}/image(id=${book.id})}" alt="book image">
        <div class="main-book-info">
            <div class="rating-container">
                <img class="star" th:src="@{/static/images/star.svg}" alt="star">
                <span class="rate" th:text="${book.rating}">book rating</span>
                <span class="reviews"><ins>15 отзывов</ins></span>
            </div>
            <span class="book-name" th:text="${book.name}">book name</span>
            <span class="book-author"><ins th:text="${book.author}">book author</ins></span>
            <div class="book-attribute">
                <span class="attribute-name">ID товара</span>
                <span class="attribute-value" th:text="${book.id}">book id</span>
            </div>
            <hr class="attribute-hr">
            <div class="book-attribute">
                <span class="attribute-name">Издательство</span>
                <span class="attribute-value" th:text="${book.publisher}">book publisher</span>
            </div>
            <hr class="attribute-hr">
            <div class="book-attribute">
                <span class="attribute-name">Серия</span>
                <span class="attribute-value" th:text="${book.series}">book series</span>
            </div>
            <hr class="attribute-hr">
            <div class="book-attribute">
                <span class="attribute-name">Год издания</span>
                <span class="attribute-value" th:text="${book.yearOfPublishing}">book year of publishing</span>
            </div>
            <hr class="attribute-hr">
            <div class="book-attribute">
                <span class="attribute-name">ISBN</span>
                <span class="attribute-value" th:text="${book.isbn}">book isbn</span>
            </div>
            <hr class="attribute-hr">
            <div class="book-attribute">
                <span class="attribute-name">Количество страниц</span>
                <span class="attribute-value" th:text="${book.numberOfPages}">book number of pages</span>
            </div>
            <hr class="attribute-hr">
            <div class="book-attribute">
                <span class="attribute-name">Размер</span>
                <span class="attribute-value" th:text="${book.size}">book size</span>
            </div>
            <hr class="attribute-hr">
            <div class="book-attribute">
                <span class="attribute-name">Тип обложки</span>
                <span class="attribute-value" th:text="${book.coverType}">book cover type</span>
            </div>
            <hr class="attribute-hr">
            <div class="book-attribute">
                <span class="attribute-name">Тираж</span>
                <span class="attribute-value" th:text="${book.circulation}">book circulation</span>
            </div>
            <hr class="attribute-hr">
            <div class="book-attribute">
                <span class="attribute-name">Вес, г</span>
                <span class="attribute-value" th:text="${book.weight}">book weight</span>
            </div>
            <hr class="attribute-hr">
            <div class="book-attribute">
                <span class="attribute-name">Возрастные ограничения</span>
                <span class="attribute-value" th:text="${book.ageRestrictions} + '+'">book age restrictions</span>
            </div>
        </div>
        <div class="book-details">
            <div class="book-price-info">
                <span class="book-price" th:text="${book.price} + ' $'">book price</span>
                <span class="book-points">+ до 96 баллов</span>
            </div>
            <div class="book-actions">
                <button class="buy-button">Купить</button>
                <img th:if="${user != null && (user.id() == book.userId && book.isInFavorites)}"
                     class="favorites-icon" th:src="@{/static/images/markedFavoritesIcon.svg}" alt="">
                <img th:unless="${user != null && (user.id() == book.userId && book.isInFavorites)}"
                     class="favorites-icon" th:src="@{/static/images/favoritesIcon.svg}" alt="">
            </div>
            <div class="obtaining-method">
                <img th:src="@{/static/images/cartIconAlt.svg}" alt="obtaining icon" class="obtaining-method-icon">
                <div class="obtaining-container">
                    <span class="obtaining-info">Доставка курьером, 175 ₽</span>
                    <div class="delivery-details">
                        <span class="delivery-date">В субботу, 11 февр.</span>
                        <span class="delivery-options"><ins>Варианты доставки</ins></span>
                    </div>
                </div>
            </div>
            <div class="obtaining-method">
                <img th:src="@{/static/images/truckIcon.svg}" alt="obtaining icon" class="obtaining-method-icon">
                <div class="obtaining-container">
                    <span class="obtaining-info">В магазины сети, Бесплатно</span>
                    <div class="delivery-details">
                        <span class="delivery-date">Завтра</span>
                        <span class="delivery-options"><ins>Адреса магазинов</ins></span>
                    </div>
                </div>
            </div>
            <div class="obtaining-method">
                <img th:src="@{/static/images/packageIcon.svg}" alt="obtaining icon" class="obtaining-method-icon">
                <div class="obtaining-container">
                    <span class="obtaining-info">В пункты выдачи, 110 ₽</span>
                    <div class="delivery-details">
                        <span class="delivery-date">Завтра</span>
                        <span class="delivery-options"><ins>Пункты выдачи</ins></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="book-description" th:text="${book.description}"></div>
    <h1 class="title">Отзывы</h1>
    <div class="swiper reviews">
        <div class="swiper-wrapper">
            <div th:each="review:${reviews}" class="swiper-slide">
                <div class="slide-container">
                    <div class="review">
                        <div class="content">
                            <h2 class="book-author" th:text="${review.bookAuthor}">Нанетти Анджела</h2>
                            <h1 class="book-name" th:text="${review.bookName}">Мой дедушка был вишней</h1>
                            <p class="text" th:text="${review.content}">
                                Эту историю я прочитала за один день и с самых первых строк глаза
                                были на мокром месте. Хоть эта история итальянской писательницы,
                                вы не увидите тут особой разницы между итальянской семьей и русской.
                                Мы в разных странах, но такие все одинаковые. Маленький мальчик...
                            </p>
                            <div class="full-review">
                                <span class="text">Читать отзыв целиком</span>
                                <div class="more-button">
                                    <img th:src="@{/static/images/more.svg}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <div class="avatar">
                                <img th:src="@{/static/images/avatar.jpg}" alt="">
                            </div>
                            <h3 class="username" th:text="${review.username}">Виктория Переска</h3>
                            <h4 class="text">Понравился отзыв?</h4>
                            <div class="likes">
                                <div class="rating">
                                    <img th:src="@{/static/images/like.svg}" alt="">
                                    <span th:text="${review.likes}">+1</span>
                                </div>
                                <div class="rating">
                                    <img th:src="@{/static/images/dislike.svg}" alt="">
                                    <span th:text="${review.dislikes}">0</span>
                                </div>
                            </div>
                            <div class="reply">
                                <img th:src="@{/static/images/reply.svg}" alt="">
                                <span>Ответить</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <hr>
    <footer>
        <img class="logo" th:src="@{/static/images/logo.svg}" alt="logotype">
        <div class="footer-container">
            <ul class="footer-ul">
                <li>Каталог</li>
                <li>Партнерская программа</li>
                <li>Подробнее о нас</li>
                <li>Контакты</li>
            </ul>
            <ul class="footer-ul">
                <li>Остались вопросы? Напишите нам</li>
                <li>korablik@yandex.ru</li>
                <li>
                    <div class="social-logos">
                        <img th:src="@{/static/images/VKIcon.svg}" alt="VK">
                        <img th:src="@{/static/images/OKIcon.svg}" alt="OK">
                        <img th:src="@{/static/images/twitterIcon.svg}" alt="twitter">
                    </div>
                </li>
                <li>
                    Мы на связи с 9 до 18 часов
                    <br>
                    (GMT +03:00)
                </li>
            </ul>
            <ul class="footer-ul">
                <li>Бесплатный звонок по России</li>
                <li>8 (988) 545-55-55</li>
                <li>Мы в социальных сетях</li>
                <li>
                    <div class="social-logos">
                        <img th:src="@{/static/images/VKIcon.svg}" alt="VK">
                        <img th:src="@{/static/images/OKIcon.svg}" alt="OK">
                        <img th:src="@{/static/images/twitterIcon.svg}" alt="twitter">
                        <img th:src="@{/static/images/telegramIcon.svg}" alt="telegram">
                    </div>
                </li>
            </ul>
        </div>
    </footer>
</div>
<div class="overlay" id="overlay"></div>
<script th:src="@{/static/scripts/book-favorites.js}"></script>
<script th:src="@{/static/scripts/reviews.js}"></script>
</body>
</html>