<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/static/styles/style.css}">
    <link rel="stylesheet" th:href="@{/static/styles/header.css}">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<div class="container1" style="padding-top: 85px">
    <div th:insert="~{fragment :: categories}"></div>
    <div class="banner1">
        <h1 class="banner1-h1">
            Читай книги — маркетплейс книжных товаров
        </h1>
        <h2 class="banner1-h2">
            Сравнивайте цены и бронируйте книги в ближайших магазинах!
        </h2>
        <div class="div-button banner1-button">Войти</div>
    </div>
    <div class="div1">
        Популярное
        <div class="watch-all">
            Смотреть все
            <div class="watch-all-button">→</div>
        </div>
    </div>
    <div class="book-cards">
        <div class="book-card" th:each="book:${topBooksByRating}">
            <img class="book-image" th:src="@{/api/books/{id}/image(id=${book.id})}" alt="book image">
            <div class="book-card-container1">
                <div class="book-card-container2">
                    <img class="star" th:src="@{/static/images/star.svg}" alt="star">
                    <span class="rate" th:text="${book.rating()}">4.9</span>
                    <span class="favorites-icon"></span>
                </div>
                <div class="book-info">
                    <h2 class="book-name" th:text="${book.name()}">book name</h2>
                    <h2 class="book-author" th:text="${book.author()}">Алексей марков</h2>
                </div>
                <div class="book-card-container3">
                    <div class="add-to-cart-button">В корзину</div>
                    <span class="book-price" th:text="${book.price()} + '$'">575₽</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="best-sellers">
    <h1 class="best-seller-title">Хиты продаж</h1>
    <div class="best-sellers-container">
        <div class="book-card" th:each="book:${topBooksByCirculation}">
            <img class="book-image" th:src="@{/api/books/{id}/image(id=${book.id})}" alt="book image">
            <div class="book-card-container1">
                <div class="book-card-container2">
                    <img class="star" th:src="@{/static/images/star.svg}" alt="star">
                    <span class="rate" th:text="${book.rating()}">4.9</span>
                    <span class="nav-icon favorites-icon"></span>
                </div>
                <div class="book-info">
                    <h2 class="book-name" th:text="${book.name()}">book name</h2>
                    <h2 class="book-author" th:text="${book.author()}">Алексей марков</h2>
                </div>
                <div class="book-card-container3">
                    <div class="add-to-cart-button">В корзину</div>
                    <span class="book-price" th:text="${book.price()} + '$'">575₽</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container1">
    <div class="div1">
        Скоро в продаже
        <div class="watch-all">
            Смотреть все
            <div class="watch-all-button">→</div>
        </div>
    </div>
    <div class="book-cards">
        <div class="book-card">
            <img class="book-image" th:src="@{/static/images/bookImage1.png}" alt="book image">
            <div class="book-card-container1">
                <div class="book-card-container2">
                    <img class="star" th:src="@{/static/images/star.svg}" alt="star">
                    <span class="rate">4.9</span>
                    <span class="favorites-icon"></span>
                </div>
                <h2 class="book-name">
                    Лягушка, слон и брокколи.
                    <br>
                    Как жить и как не надо
                </h2>
                <h2 class="book-author">Алексей марков</h2>
                <div class="book-card-container3">
                    <div class="add-to-cart-button">В корзину</div>
                    <span class="book-price">575₽</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-image" th:src="@{/static/images/bookImage2.png}" alt="book image">
            <div class="book-card-container1">
                <div class="book-card-container2">
                    <img class="star" th:src="@{/static/images/star.svg}" alt="star">
                    <span class="rate">4.9</span>
                    <span class="favorites-icon"></span>
                </div>
                <h2 class="book-name">
                    Лягушка, слон и брокколи.
                    <br>
                    Как жить и как не надо
                </h2>
                <h2 class="book-author">Алексей марков</h2>
                <div class="book-card-container3">
                    <div class="add-to-cart-button">В корзину</div>
                    <span class="book-price">575₽</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-image" th:src="@{/static/images/bookImage3.png}" alt="book image">
            <div class="book-card-container1">
                <div class="book-card-container2">
                    <img class="star" th:src="@{/static/images/star.svg}" alt="star">
                    <span class="rate">4.9</span>
                    <span class="favorites-icon"></span>
                </div>
                <h2 class="book-name">
                    Лягушка, слон и брокколи.
                    <br>
                    Как жить и как не надо
                </h2>
                <h2 class="book-author">Алексей марков</h2>
                <div class="book-card-container3">
                    <div class="add-to-cart-button">В корзину</div>
                    <span class="book-price">575₽</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-image" th:src="@{/static/images/bookImage4.png}" alt="book image">
            <div class="book-card-container1">
                <div class="book-card-container2">
                    <img class="star" th:src="@{/static/images/star.svg}" alt="star">
                    <span class="rate">4.9</span>
                    <span class="favorites-icon"></span>
                </div>
                <h2 class="book-name">
                    Лягушка, слон и брокколи.
                    <br>
                    Как жить и как не надо
                </h2>
                <h2 class="book-author">Алексей марков</h2>
                <div class="book-card-container3">
                    <div class="add-to-cart-button">В корзину</div>
                    <span class="book-price">575₽</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-image" th:src="@{/static/images/bookImage1.png}" alt="book image">
            <div class="book-card-container1">
                <div class="book-card-container2">
                    <img class="star" th:src="@{/static/images/star.svg}" alt="star">
                    <span class="rate">4.9</span>
                    <span class="favorites-icon"></span>
                </div>
                <h2 class="book-name">
                    Лягушка, слон и брокколи.
                    <br>
                    Как жить и как не надо
                </h2>
                <h2 class="book-author">Алексей марков</h2>
                <div class="book-card-container3">
                    <div class="add-to-cart-button">В корзину</div>
                    <span class="book-price">575₽</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-image" th:src="@{/static/images/bookImage2.png}" alt="book image">
            <div class="book-card-container1">
                <div class="book-card-container2">
                    <img class="star" th:src="@{/static/images/star.svg}" alt="star">
                    <span class="rate">4.9</span>
                    <span class="favorites-icon"></span>
                </div>
                <h2 class="book-name">
                    Лягушка, слон и брокколи.
                    <br>
                    Как жить и как не надо
                </h2>
                <h2 class="book-author">Алексей марков</h2>
                <div class="book-card-container3">
                    <div class="add-to-cart-button">В корзину</div>
                    <span class="book-price">575₽</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-image" th:src="@{/static/images/bookImage3.png}" alt="book image">
            <div class="book-card-container1">
                <div class="book-card-container2">
                    <img class="star" th:src="@{/static/images/star.svg}" alt="star">
                    <span class="rate">4.9</span>
                    <span class="favorites-icon"></span>
                </div>
                <h2 class="book-name">
                    Лягушка, слон и брокколи.
                    <br>
                    Как жить и как не надо
                </h2>
                <h2 class="book-author">Алексей марков</h2>
                <div class="book-card-container3">
                    <div class="add-to-cart-button">В корзину</div>
                    <span class="book-price">575₽</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-image" th:src="@{/static/images/bookImage4.png}" alt="book image">
            <div class="book-card-container1">
                <div class="book-card-container2">
                    <img class="star" th:src="@{/static/images/star.svg}" alt="star">
                    <span class="rate">4.9</span>
                    <span class="nav-icon favorites-icon"></span>
                </div>
                <h2 class="book-name">
                    Лягушка, слон и брокколи.
                    <br>
                    Как жить и как не надо
                </h2>
                <h2 class="book-author">Алексей марков</h2>
                <div class="book-card-container3">
                    <div class="add-to-cart-button">В корзину</div>
                    <span class="book-price">575₽</span>
                </div>
            </div>
        </div>
    </div>
    <div class="div1">
        Акции
        <div class="watch-all">
            Смотреть все
            <div class="watch-all-button">→</div>
        </div>
    </div>
    <div class="stocks-banner">
        <img th:src="@{/static/images/stocksBanner.png}" alt="stocks">
        <img th:src="@{/static/images/stocksBanner.png}" alt="stocks">
        <img th:src="@{/static/images/stocksBanner.png}" alt="stocks">
    </div>
    <div class="div1">
        Главные отзывы недели
        <div class="watch-all">
            Смотреть все
            <div class="watch-all-button">→</div>
        </div>
    </div>
    <div class="reviews">
    </div>
    <div class="div1">
        Подборки книг
        <div class="watch-all">
            Смотреть все
            <div class="watch-all-button">→</div>
        </div>
    </div>
    <div class="stocks-banner">
        <img th:src="@{/static/images/bookBanner1.png}" alt="stocks">
        <img th:src="@{/static/images/bookBanner2.png}" alt="stocks">
        <img th:src="@{/static/images/bookBanner3.png}" alt="stocks">
    </div>
</div>
<hr>
<div class="container1">
    <footer>
        <img class="logo" th:src="@{/static/images/logo.svg}" alt="logotype">
        <div class="footer-container">
            <ul class="footer-ul">
                <li>Каталог</li>
                <li>Партнерская программа</li>
                <li>Подробнее о нас</li>
                <li>Контакты</li>
            </ul>
            <ul class="footer-ul">
                <li>Остались вопросы? Напишите нам</li>
                <li>korablik@yandex.ru</li>
                <li>
                    <div class="social-logos">
                        <img th:src="@{/static/images/VKIcon.svg}" alt="VK">
                        <img th:src="@{/static/images/OKIcon.svg}" alt="OK">
                        <img th:src="@{/static/images/twitterIcon.svg}" alt="twitter">
                    </div>
                </li>
                <li>
                    Мы на связи с 9 до 18 часов
                    <br>
                    (GMT +03:00)
                </li>
            </ul>
            <ul class="footer-ul">
                <li>Бесплатный звонок по России</li>
                <li>8 (988) 545-55-55</li>
                <li>Мы в социальных сетях</li>
                <li>
                    <div class="social-logos">
                        <img th:src="@{/static/images/VKIcon.svg}" alt="VK">
                        <img th:src="@{/static/images/OKIcon.svg}" alt="OK">
                        <img th:src="@{/static/images/twitterIcon.svg}" alt="twitter">
                        <img th:src="@{/static/images/telegramIcon.svg}" alt="telegram">
                    </div>
                </li>
            </ul>
        </div>
    </footer>
</div>
<div class="overlay" id="overlay"></div>
</body>
</html>