<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/footer.css}">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div th:insert="~{fragment :: header}"></div>

    <div class="banner">
        <h1>Читай книги - маркетплейс книжный товаров</h1>
        <h3>Сравнивайте цены и бронируйте книги в ближайших магазинах</h3>
        <a th:if="${userId == null}" href="/auth/login">
            <button class="login-button">Войти</button>
        </a>
    </div>
    <div class="more-title">
        <span class="title">Популярное</span>
        <div class="more-container">
            <span class="more">Смотреть все</span>
            <div class="more-icon">
                <img th:src="@{/images/arrow.svg}" alt="more">
            </div>
        </div>
    </div>

    <div class="book-cards">
        <div class="book-card" th:each="book:${topBooksByRating}">
            <a th:href="@{/books/{id}(id=${book.id})}">
                <img class="book-img" th:src="@{/api/books/{id}/image(id=${book.id})}" alt="book image">
            </a>
            <div class="content">
                <div>
                    <div class="container1">
                        <div class="rating-container">
                            <img class="star" th:src="@{/images/star.svg}" alt="star">
                            <span class="rating" th:text="${book.rating}">4.9</span>
                        </div>
                        <img th:if="${userId != null && book.userId == userId && book.isInFavorites}"
                             class="favorites" th:src="@{/images/marked-favorites.svg}"
                             th:attr="data-book-id=${book.id}"
                             alt="favorites">
                        <img th:unless="${userId != null && book.userId == userId && book.isInFavorites}"
                             class="favorites" th:src="@{/images/favorites.svg}"
                             th:attr="data-book-id=${book.id}"
                             alt="favorites">
                    </div>
                    <h1 class="book-name" th:text="${book.name}">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                    <h3 class="book-author" th:text="${book.author}">Алексей Марков</h3>
                </div>
                <div class="container2">
                    <div class="to-cart-button"
                         th:if="${userId != null && book.userId == userId && book.isInCart}">Удалить</div>
                    <div class="to-cart-button"
                         th:unless="${userId != null && book.userId == userId && book.isInCart}">В корзину</div>
                    <span class="price" th:text="${book.price} + '$'">575$</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="best-sellers">
    <div class="title">Хиты продаж</div>
    <div class="book-cards">
        <div class="book-card" th:each="book:${topBooksByCirculation}">
            <a th:href="@{/books/{id}(id=${book.id})}">
                <img class="book-img" th:src="@{/api/books/{id}/image(id=${book.id})}" alt="book image">
            </a>
            <div class="content">
                <div>
                <div class="container1">
                    <div class="rating-container">
                        <img class="star" th:src="@{/images/star.svg}" alt="star">
                        <span class="rating" th:text="${book.rating}">4.9</span>
                    </div>
                    <img th:if="${userId != null && book.userId == userId && book.isInFavorites}"
                         class="favorites" th:src="@{/images/marked-favorites.svg}"
                         th:attr="data-book-id=${book.id}"
                         alt="favorites">
                    <img th:unless="${userId != null && book.userId == userId && book.isInFavorites}"
                         class="favorites" th:src="@{/images/favorites.svg}"
                         th:attr="data-book-id=${book.id}"
                         alt="favorites">
                </div>
                <h1 class="book-name" th:text="${book.name}">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                <h3 class="book-author" th:text="${book.author}">Алексей Марков</h3>
                </div>
                <div class="container2">
                    <div class="to-cart-button"
                         th:if="${userId != null && book.userId == userId && book.isInCart}">Удалить</div>
                    <div class="to-cart-button"
                         th:unless="${userId != null && book.userId == userId && book.isInCart}">В корзину</div>
                    <span class="price" th:text="${book.price} + '$'">575$</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="more-title">
        <span class="title">Скоро в продаже</span>
        <div class="more-container">
            <span class="more">Смотреть все</span>
            <div class="more-icon">
                <img th:src="@{/images/arrow.svg}" alt="more">
            </div>
        </div>
    </div>
    <div class="book-cards">
        <div class="book-card">
            <img class="book-img" th:src="@{/images/book-image1.svg}" alt="book image">
            <div class="content">
                <div class="container1">
                    <div class="rating-container">
                        <img class="star" th:src="@{/images/star.svg}" alt="star">
                        <span class="rating">4.9</span>
                    </div>
                    <img class="favorites" th:src="@{/images/favorites.svg}" alt="favorites">
                </div>
                <h1 class="book-name">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                <h3 class="book-author">Алексей Марков</h3>
                <div class="container2">
                    <button class="to-cart-button">В корзину</button>
                    <span class="price">575$</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-img" th:src="@{/images/book-image1.svg}" alt="book image">
            <div class="content">
                <div class="container1">
                    <div class="rating-container">
                        <img class="star" th:src="@{/images/star.svg}" alt="star">
                        <span class="rating">4.9</span>
                    </div>
                    <img class="favorites" th:src="@{/images/favorites.svg}" alt="favorites">
                </div>
                <h1 class="book-name">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                <h3 class="book-author">Алексей Марков</h3>
                <div class="container2">
                    <button class="to-cart-button">В корзину</button>
                    <span class="price">575$</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-img" th:src="@{/images/book-image1.svg}" alt="book image">
            <div class="content">
                <div class="container1">
                    <div class="rating-container">
                        <img class="star" th:src="@{/images/star.svg}" alt="star">
                        <span class="rating">4.9</span>
                    </div>
                    <img class="favorites" th:src="@{/images/favorites.svg}" alt="favorites">
                </div>
                <h1 class="book-name">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                <h3 class="book-author">Алексей Марков</h3>
                <div class="container2">
                    <button class="to-cart-button">В корзину</button>
                    <span class="price">575$</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-img" th:src="@{/images/book-image1.svg}" alt="book image">
            <div class="content">
                <div class="container1">
                    <div class="rating-container">
                        <img class="star" th:src="@{/images/star.svg}" alt="star">
                        <span class="rating">4.9</span>
                    </div>
                    <img class="favorites" th:src="@{/images/favorites.svg}" alt="favorites">
                </div>
                <h1 class="book-name">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                <h3 class="book-author">Алексей Марков</h3>
                <div class="container2">
                    <button class="to-cart-button">В корзину</button>
                    <span class="price">575$</span>
                </div>
            </div>
        </div>
    </div>
    <div class="more-title">
        <span class="title">Акции</span>
        <div class="more-container">
            <span class="more">Смотреть все</span>
            <div class="more-icon">
                <img th:src="@{/images/arrow.svg}" alt="more">
            </div>
        </div>
    </div>
    <div class="banners">
        <img th:src="@{/images/book-banner.png}" alt="book banner">
        <img th:src="@{/images/book-banner.png}" alt="book banner">
        <img th:src="@{/images/book-banner.png}" alt="book banner">
    </div>
    <div class="title"></div>
</div>
<hr>
<div class="container">
    <div th:insert="~{fragment :: footer}"></div>
</div>
<script th:src="@{/scripts/categories.js}"></script>
<script th:src="@{/scripts/main.js}"></script>
<script th:src="@{/scripts/spoiler.js}"></script>
<script th:src="@{/scripts/book-favorites.js}"></script>
<script th:src="@{/scripts/book-cart.js}"></script>
</body>
</html>