<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <header>
        <div class="container1">
            <a href="/"><img class="logo" th:src="@{/static/adaptive/images/logo.svg}" alt="site logo"></a>
            <div class="burger-button">
                <span>Каталог</span>
                <img th:src="@{/static/adaptive/images/catalog-button-details.svg}" alt="catalog">
            </div>
            <form method="GET" action="/books">
                <input class="search" type="text" placeholder="Поиск">
            </form>
        </div>
    <div class="header-icons">
        <img class="header-icon" th:src="@{/static/adaptive/images/search-small.svg}" alt="search">
        <a href="/books/favorites"><img class="header-icon" th:src="@{/static/adaptive/images/favorites.svg}" alt="favorites"></a>
        <a href="/books/cart"><img class="header-icon" th:src="@{/static/adaptive/images/cart.svg}" alt="cart"></a>
        <a href="/auth/login"><img class="header-icon" th:src="@{/static/adaptive/images/profile.svg}" alt="profile"></a>
        <div class="header-text-icon">
            <a href="/books/favorites"><img th:src="@{/static/adaptive/images/favorites.svg}" alt="favorites"></a>
            <span>Избранное</span>
        </div>
        <div class="header-text-icon">
            <a href="/books/cart"><img th:src="@{/static/adaptive/images/cart.svg}" alt="cart"></a>
            <span>Корзина</span>
        </div>
        <a class="header-text-icon" th:if="${userId == null}" href="/auth/login"><button class="login-button">Войти</button></a>
        <form class="header-text-icon" th:if="${userId != null}" method="post" action="/auth/logout">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button class="login-button">Выйти</button>
        </form>
    </div>
    </header>
<div class="categories">
    <a href="/books"><div class="tab">Все</div></a>
    <a href="/books?category=Фэнтези"><div class="tab">Фэнтези</div></a>
    <a href="/books?category=Детективы"><div class="tab">Детективы</div></a>
    <a href="/books?category=Боевики"><div class="tab">Боевики</div></a>
    <a href="/books?category=Проза"><div class="tab">Проза</div></a>
    <a href="/books?category=Бизнес"><div class="tab">Бизнес</div></a>
    <a href="/books?category=Эзотерика"><div class="tab">Эзотерика</div></a>
    <a href="/books?category=Психология"><div class="tab">Психология</div></a>
    <a href="/books?category=Мода"><div class="tab">Мода</div></a>
    <a href="/books?category=Кулинария"><div class="tab">Кулинария</div></a>
    <a href="/books?category=Биография"><div class="tab">Биография</div></a>
    <a href="/books?category=Хобби"><div class="tab">Хобби</div></a>
</div>
</div>

<footer th:fragment="footer">
    <div class="footer-small-screen">
        <img class="logo" th:src="@{/static/adaptive/images/logo.svg}" alt="">
        <div class="block one">
            <div class="block-item">
                <div class="block-title">
                    Основное
                    <img class="arrow" th:src="@{/static/adaptive/images/footer-arrow.svg}" alt="">
                </div>
                <div class="block-content">
                    <div class="info">Каталог</div>
                    <div class="info">Партнерская программа</div>
                    <div class="info">Подробнее о нас</div>
                    <div class="info">Контакты</div>
                </div>
            </div>
            <div class="block-item">
                <div class="block-title">
                    Связаться с нами
                    <img class="arrow" th:src="@{/static/adaptive/images/footer-arrow.svg}" alt="">
                </div>
                <div class="block-content">
                    <div class="info" style="font-weight: 700">korablik@yandex.ru</div>
                    <div class="info">
                        <div class="footer-icons">
                            <img th:src="@{/static/adaptive/images/VK.svg}" alt="">
                            <img th:src="@{/static/adaptive/images/OK.svg}" alt="">
                            <img th:src="@{/static/adaptive/images/twitter.svg}" alt="">
                            <img th:src="@{/static/adaptive/images/telegram.svg}" alt="">
                        </div>
                    </div>
                    <div class="info">Мы на связи с 9 до 18 часов (GMT +03:00)  </div>
                </div>
            </div>
        </div>
        <div class="more-info">
            <div class="footer-container">
                <span>Бесплатный звонок по России</span>
                <span class="bold-footer-text">8 (988) 545-55-55</span>
            </div>
            <div class="footer-container">
                <span>Мы в социальных сетях</span>
                <div class="footer-icons">
                    <img th:src="@{/static/adaptive/images/VK.svg}" alt="">
                    <img th:src="@{/static/adaptive/images/OK.svg}" alt="">
                    <img th:src="@{/static/adaptive/images/twitter.svg}" alt="">
                    <img th:src="@{/static/adaptive/images/telegram.svg}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-full-screen">
        <ul>
            <li class="logo"><img th:src="@{/static/adaptive/images/logo.svg}" alt="logo"></li>
            <li>Каталог</li>
            <li>Партнерская программа</li>
            <li>Подробнее о нас</li>
            <li>Контакты</li>
        </ul>
        <ul>
            <li>Остались вопросы? Напишите нам</li>
            <li class="bold-footer-text">korablik@yandex.ru</li>
            <li>
                <div class="footer-icons">
                    <img th:src="@{/static/adaptive/images/VK.svg}" alt="">
                    <img th:src="@{/static/adaptive/images/OK.svg}" alt="">
                    <img th:src="@{/static/adaptive/images/twitter.svg}" alt="">
                    <img th:src="@{/static/adaptive/images/telegram.svg}" alt="">
                </div>
            </li>
            <li>Мы на связи с 9 до 18 часов<br> (GMT +03:00)</li>
        </ul>
        <ul>
            <li>Бесплатный звонок по России</li>
            <li class="bold-footer-text">8 (988) 545-55-55</li>
            <li>Мы в социальных сетях</li>
            <li>
                <div class="footer-icons">
                    <img th:src="@{/static/adaptive/images/VK.svg}" alt="">
                    <img th:src="@{/static/adaptive/images/OK.svg}" alt="">
                    <img th:src="@{/static/adaptive/images/twitter.svg}" alt="">
                    <img th:src="@{/static/adaptive/images/telegram.svg}" alt="">
                </div>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>