<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header th:fragment="header">
    <a th:href="@{/books}"><img th:src="@{/static/images/logo.svg}" alt="logotype"></a>
    <div class="dropdown">
        <div class="catalog-button">
            <span class="catalog-button-text">Каталог</span>
            <img class="catalog-image" th:src="@{/static/images/catalogButtonDetails.svg}" alt="details">
        </div>
        <div class="menu" id="my-menu">
            <div>Лекарственные препараты и бады</div>
            <div>Медицинская техника</div>
            <div>Медицинские изделия</div>
            <div>Гигиена и уход</div>
            <div>Красота и здоровье</div>
            <div>Мать и дитя</div>
            <div>Детское питание</div>
            <div>Ортопедические изделия</div>
            <div>Канцелярские товары</div>
            <div>Одежда, обувь аксессуары</div>
            <div>Оптика</div>
            <div>Продукты питания</div>
            <div>Спортивные товары</div>
            <div>Товары для активного отдыха</div>
        </div>
    </div>
    <form method="GET" th:action="@{/books/found-books}">
        <label>
            <input type="text" placeholder="Поиск" class="search" name="name">
        </label>
    </form>
    <a th:href="@{/books/favorites}">
        <div class="nav-button">
            <img class="nav-icon" th:src="@{/static/images/favoritesIcon.svg}" alt="favorites icon">
            Избранное
        </div>
    </a>
    <a th:href="@{/books/inCart}">
        <div class="nav-button">
            <img class="nav-icon" th:src="@{/static/images/cartIcon.svg}" alt="cart icon">
            Корзина
        </div>
    </a>
    <a>
        <button class="login-button">Войти</button>
    </a>
<!--    <form th:if="${person!=null}" method="POST" th:action="@{/auth/logout}">-->
<!--        <button class="login-button" type="submit">-->
<!--            Выйти-->
<!--        </button>-->
<!--    </form>-->
</header>




<div class="categories" th:fragment="category">
    <a th:each="category:${categories}" th:href="@{/books/category(category=__${category.name}__)}">
        <div class="category" th:text="${category.name}">category name</div>
    </a>
</div>
<div class="banner1">
    <h1 class="banner1-h1">
        Читай книги — маркетплейс книжных товаров
    </h1>
    <h2 class="banner1-h2">
        Сравнивайте цены и бронируйте книги в ближайших магазинах!
    </h2>
    <a th:if="${person==null}" th:href="@{/auth/login}">
        <div class="login-div banner1-button">Войти</div>
    </a>
</div>
<div class="div1">
    Популярное
    <div class="watch-all">
        Смотреть все
        <div class="watch-all-button">→</div>
    </div>
</div>
</body>
</html>