<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<header th:fragment="header">
    <a href="/"><img th:src="@{/static/images/logo.svg}" alt="logo"></a>
    <div class="dropdown">
        <div class="catalog-button">
            <span class="catalog-button-text">Каталог</span>
            <img th:src="@{/static/images/catalogButtonDetails.svg}" alt="">
        </div>
    </div>
    <form method="GET">
        <label>
            <input type="text" placeholder="Поиск" class="search">
        </label>
    </form>
    <a href="/books/favorites">
        <div class="nav-button">
        <img class="nav-icon" th:src="@{/static/images/favoritesIcon.svg}" alt="favorites">
        Избранное
    </div>
    </a>
    <a href="/books/cart">
        <div class="nav-button">
            <img class="nav-icon" th:src="@{/static/images/cartIcon.svg}" alt="favorites">
            Корзина
        </div>
    </a>
    <a href="/auth/login"> <button class="login-button">Войти</button></a>
</header>


<div class="categories" th:fragment="categories">
    <a href="/books"><div class="category">Все</div></a>
    <a href="/books?category=Фэнтези"> <div class="category">Фэнтези</div></a>
    <a href="/books?category=Детективы"> <div class="category">Детективы</div></a>
    <a href="/books?category=Боевики"> <div class="category">Боевики</div></a>
    <a href="/books?category=Проза"> <div class="category">Проза</div></a>
    <a href="/books?category=Бизнес"> <div class="category">Бизнес</div></a>
    <a href="/books?category=Психология"> <div class="category">Психология</div></a>
    <a href="/books?category=Мода"> <div class="category">Мода</div></a>
    <a href="/books?category=Кулинария"> <div class="category">Кулинария</div></a>
    <a href="/books?category=Биография"> <div class="category">Биография</div></a>
    <a href="/books?category=Хобби"> <div class="category">Хобби</div></a>
</div>
</body>
</html>