<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<header th:fragment="header">
    <span class="logo"></span>
    <div class="dropdown">
        <div class="catalog-button">
            <span class="catalog-button-text">Каталог</span>
            <img th:src="@{/static/images/catalogButtonDetails.svg}" alt="">
        </div>
        <div class="menu" id="my-menu">
            <div>Лекарственные препараты и бады</div>
            <div>Медицинская техника</div>
            <div>Медицинские изделия</div>
            <div>Гигиена и уход</div>
            <div>Красота и здоровье</div>
            <div>Мать и дитя</div>
            <div>Детское питание</div>
            <div>Ортопедические изделия</div>
            <div>Канцелярские товары</div>
            <div>Одежда, обувь аксессуары</div>
            <div>Оптика</div>
            <div>Продукты питания</div>
            <div>Спортивные товары</div>
            <div>Товары для активного отдыха</div>
        </div>
    </div>
    <form method="GET">
        <label>
            <input type="text" placeholder="Поиск" class="search">
        </label>
    </form>
    <div class="nav-button">
        <img class="nav-icon" th:src="@{/static/images/favoritesIcon.svg}" alt="favorites">
        Избранное
    </div>
    <div class="nav-button">
        <img class="nav-icon" th:src="@{/static/images/cartIcon.svg}" alt="favorites">
        Корзина
    </div>
    <button class="login-button">Войти</button>
</header>


<div class="categories" th:fragment="categories">
    <div class="category">
        Фэнтези
    </div>
    <div class="category">
        Детективы
    </div>
    <div class="category">
        Боевики
    </div>
    <div class="category">
        Проза
    </div>
    <div class="category">
        Бизнес
    </div>
    <div class="category">
        Эзотерика
    </div>
    <div class="category">
        Психология
    </div>
    <div class="category">
        Мода
    </div>
    <div class="category">
        Кулинария
    </div>
    <div class="category">
        Биография
    </div>
    <div class="category">
        Хобби
    </div>
</div>
</body>
</html>