<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" th:href="@{/static/adaptive/styles/book.css}">
    <link rel="stylesheet" th:href="@{/static/adaptive/styles/header.css}">
    <link rel="stylesheet" th:href="@{/static/adaptive/styles/footer.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="#">
    <title>Информация о книге</title>
</head>
<body>
<main>
    <div class="container">
        <div th:insert="~{adaptive/fragment :: header}"></div>
        <div class="current-position">
            <span>Главная</span>
            <div class="more-icon">
                <img th:src="@{/static/adaptive/images/small-arrow.svg}" alt="">
            </div>
            <span>Каталог</span>
            <div class="more-icon">
                <img th:src="@{/static/adaptive/images/small-arrow.svg}" alt="">
            </div>
            <span>Фэнтези</span>
            <div class="more-icon">
                <img th:src="@{/static/adaptive/images/small-arrow.svg}" alt="">
            </div>
        </div>
        <div class="book-small-screen">
            <div class="rating-container">
                <img class="star" th:src="@{/static/adaptive/images/star.svg}" alt="star">
                <span class="rating" th:text="${book.rating}">4.9</span>
                <span class="rating-count" th:text="${reviewsCount} + ' отзывов'">15 отзывов</span>
            </div>
            <h1 class="book-name" th:text="${book.name}">book name</h1>
            <h3 class="book-author" th:text="${book.author}">book author</h3>
            <div class="book-image-container">
                <img th:src="@{/api/books/{id}/image(id=${book.id})}" alt="book image">
            </div>
            <div class="book-info-container">
                <div class="book-info">
                    <div class="price-info">
                        <span class="price" th:text="${book.price} + ' $'">525 $</span>
                        <span class="points">+ до 96 баллов</span>
                    </div>
                    <div class="book-actions">
                        <button class="buy-button">Купить</button>
                        <img th:if="${userId != null && (userId == book.userId && book.isInFavorites)}"
                             class="favorites" th:src="@{/static/adaptive/images/marked-favorites.svg}"
                             th:attr="data-user-id=${book.id}"
                             alt="favorites">
                        <img th:unless="${userId != null && (userId == book.userId && book.isInFavorites)}"
                             class="favorites" th:src="@{/static/adaptive/images/favorites.svg}"
                             th:attr="data-user-id=${book.id}"
                             alt="favorites">
                    </div>
                    <div class="delivery-options">
                        <div class="delivery-option">
                            <img th:src="@{/static/adaptive/images/truck.svg}" alt="">
                            <div class="delivery-details">
                                <h1>Доставка курьером, 175 $</h1>
                                <div class="delivery-details-container">
                                    <span>В субботу, 11 февр.</span>
                                    <span>Варианты доставки</span>
                                </div>
                            </div>
                        </div>
                        <div class="delivery-option">
                            <img th:src="@{/static/adaptive/images/cartAlt.svg}" alt="">
                            <div class="delivery-details">
                                <h1>В магазины сети, Бесплатно</h1>
                                <div class="delivery-details-container">
                                    <span>Завтра</span>
                                    <span>Адреса магазинов</span>
                                </div>
                            </div>
                        </div>
                        <div class="delivery-option">
                            <img th:src="@{/static/adaptive/images/truck.svg}" alt="">
                            <div class="delivery-details">
                                <h1>В пункты выдачи, 110 $</h1>
                                <div class="delivery-details-container">
                                    <span>Завтра</span>
                                    <span>Пункты выдачи</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-full-screen">
            <div>
                <div class="book-image-container">
                    <img th:src="@{/api/books/{id}/image(id=${book.id})}" alt="book image">
                </div>
            </div>
            <div class="container1">
                <div class="rating-container">
                    <img class="star" th:src="@{/static/adaptive/images/star.svg}" alt="star">
                    <span class="rating" th:text="${book.rating}">4.9</span>
                    <span class="rating-count" th:text="${reviewsCount} + ' отзывов'">15 отзывов</span>
                </div>
                <h1 class="book-name" th:text="${book.name}">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                <h3 class="book-author" th:text="${book.author}">Алексей Марков</h3>
                <div class="book-info">
                    <div class="price-info">
                        <span class="price" th:text="${book.price} + ' $'">525 $</span>
                        <span class="points">+ до 96 баллов</span>
                    </div>
                    <div class="book-actions">
                        <button class="buy-button">Купить</button>
                        <img th:if="${userId != null && (userId == book.userId && book.isInFavorites)}"
                             class="favorites" th:src="@{/static/adaptive/images/marked-favorites.svg}"
                             th:attr="data-user-id=${book.id}"
                             alt="favorites">
                        <img th:unless="${userId != null && (userId == book.userId && book.isInFavorites)}"
                             class="favorites" th:src="@{/static/adaptive/images/favorites.svg}"
                             th:attr="data-user-id=${book.id}"
                             alt="favorites">
                    </div>
                    <div class="delivery-options">
                        <div class="delivery-option">
                            <img th:src="@{/static/adaptive/images/truck.svg}" alt="">
                            <div class="delivery-details">
                                <h1>Доставка курьером, 175 $</h1>
                                <div class="delivery-details-container">
                                    <span>В субботу, 11 февр.</span>
                                    <span>Варианты доставки</span>
                                </div>
                            </div>
                        </div>
                        <div class="delivery-option">
                            <img th:src="@{/static/adaptive/images/cartAlt.svg}" alt="">
                            <div class="delivery-details">
                                <h1>В магазины сети, Бесплатно</h1>
                                <div class="delivery-details-container">
                                    <span>Завтра</span>
                                    <span>Адреса магазинов</span>
                                </div>
                            </div>
                        </div>
                        <div class="delivery-option">
                            <img th:src="@{/static/adaptive/images/truck.svg}" alt="">
                            <div class="delivery-details">
                                <h1>В пункты выдачи, 110 $</h1>
                                <div class="delivery-details-container">
                                    <span>Завтра</span>
                                    <span>Пункты выдачи</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-detail-info">
            <div class="info">
                <div>ID товара</div>
                <span th:text="${book.id}">2892673</span>
            </div>
            <div class="info">
                <div>Издательство</div>
                <span th:text="${book.publisher}">ACT</span>
            </div>
            <div class="info">
                <div>Серия</div>
                <span th:text="${book.series}">Звезда нофикшн</span>
            </div>
            <div class="info">
                <div>Год издания</div>
                <span th:text="${book.yearOfPublishing}">2022</span>
            </div>
            <div class="info">
                <div>ISBN</div>
                <span th:text="${book.isbn}">978-5-17-148025-7</span>
            </div>
            <div class="info">
                <div>Количество страниц</div>
                <span th:text="${book.numberOfPages}">320</span>
            </div>
            <div class="info">
                <div>Размер</div>
                <span th:text="${book.size}">0.7x13.3x1.91</span>
            </div>
            <div class="info">
                <div>Тип обложки</div>
                <span th:text="${book.coverType}">Твердый переплёт</span>
            </div>
            <div class="info">
                <div>Тираж</div>
                <span th:text="${book.circulation}">5000</span>
            </div>
            <div class="info">
                <div>Вес, г</div>
                <span th:text="${book.weight}">310</span>
            </div>
            <div class="info">
                <div>Возрастные ограничения</div>
                <span th:text="${book.ageRestrictions} + '+'">16+</span>
            </div>
        </div>

        <div class="book-wide-screen">
            <div class="book-image-container">
                <img th:src="@{/api/books/{id}/image(id=${book.id})}" alt="book image">
            </div>
            <div class="container1">
                <div class="rating-container">
                    <img class="star" th:src="@{/static/adaptive/images/star.svg}" alt="star">
                    <span class="rating" th:text="${book.rating}">4.9</span>
                    <span class="rating-count" th:text="${reviewsCount} + ' отзывов'">15 отзывов</span>
                </div>
                <h1 class="book-name" th:text="${book.name}">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                <h3 class="book-author" th:text="${book.author}">Алексей Марков</h3>
                <div class="book-detail-info">
                    <div class="info">
                        <div>ID товара</div>
                        <span th:text="${book.id}">2892673</span>
                    </div>
                    <div class="info">
                        <div>Издательство</div>
                        <span th:text="${book.publisher}">ACT</span>
                    </div>
                    <div class="info">
                        <div>Серия</div>
                        <span th:text="${book.series}">Звезда нофикшн</span>
                    </div>
                    <div class="info">
                        <div>Год издания</div>
                        <span th:text="${book.yearOfPublishing}">2022</span>
                    </div>
                    <div class="info">
                        <div>ISBN</div>
                        <span th:text="${book.isbn}">978-5-17-148025-7</span>
                    </div>
                    <div class="info">
                        <div>Количество страниц</div>
                        <span th:text="${book.numberOfPages}">320</span>
                    </div>
                    <div class="info">
                        <div>Размер</div>
                        <span th:text="${book.size}">0.7x13.3x1.91</span>
                    </div>
                    <div class="info">
                        <div>Тип обложки</div>
                        <span th:text="${book.coverType}">Твердый переплёт</span>
                    </div>
                    <div class="info">
                        <div>Тираж</div>
                        <span th:text="${book.circulation}">5000</span>
                    </div>
                    <div class="info">
                        <div>Вес, г</div>
                        <span th:text="${book.weight}">310</span>
                    </div>
                    <div class="info">
                        <div>Возрастные ограничения</div>
                        <span th:text="${book.ageRestrictions} + '+'">16+</span>
                    </div>
                </div>
            </div>
            <div class="book-info-container">
                <div class="book-info">
                    <div class="price-info">
                        <span class="price" th:text="${book.price} + ' $'">525 $</span>
                        <span class="points">+ до 96 баллов</span>
                    </div>
                    <div class="book-actions">
                        <button class="buy-button">Купить</button>
                        <img th:if="${userId != null && (userId == book.userId && book.isInFavorites)}"
                             class="favorites" th:src="@{/static/adaptive/images/marked-favorites.svg}"
                             th:attr="data-user-id=${book.id}"
                             alt="favorites">
                        <img th:unless="${userId != null && (userId == book.userId && book.isInFavorites)}"
                             class="favorites" th:src="@{/static/adaptive/images/favorites.svg}"
                             th:attr="data-user-id=${book.id}"
                             alt="favorites">
                    </div>
                    <div class="delivery-options">
                        <div class="delivery-option">
                            <img th:src="@{/static/adaptive/images/truck.svg}" alt="">
                            <div class="delivery-details">
                                <h1>Доставка курьером, 175 $</h1>
                                <div class="delivery-details-container">
                                    <span>В субботу, 11 февр.</span>
                                    <span>Варианты доставки</span>
                                </div>
                            </div>
                        </div>
                        <div class="delivery-option">
                            <img th:src="@{/static/adaptive/images/cartAlt.svg}" alt="">
                            <div class="delivery-details">
                                <h1>В магазины сети, Бесплатно</h1>
                                <div class="delivery-details-container">
                                    <span>Завтра</span>
                                    <span>Адреса магазинов</span>
                                </div>
                            </div>
                        </div>
                        <div class="delivery-option">
                            <img th:src="@{/static/adaptive/images/truck.svg}" alt="">
                            <div class="delivery-details">
                                <h1>В пункты выдачи, 110 $</h1>
                                <div class="delivery-details-container">
                                    <span>Завтра</span>
                                    <span>Пункты выдачи</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>
            Для правильных решений надо освоить три метода: как съесть слона, как сожрать лягушку и когда следует есть брокколи. Про слона и лягушку вы наверняка слышали: слона надо есть медленно и по кусочкам, а лягушку — глотать первым делом, с утра. Идея с брокколи не так известна, но концепция такая: брокколи полезна для долголетия. Но для того чтобы дольше жить, мало это знать. Надо ее еще и регулярно есть.
            Почему сила воли работает плохо и зачем избегать тупости? Какие дела стоит сделать прямо сейчас, а какие лучше выкинуть из жизни? Чем привычки лучше целей? Как сделать что-то новое и интересное, не бросив все в самом начале?
            Как научиться чему угодно и войти в число лучших? Что такое осознанная практика и почему 10 тысяч часов может не хватить?Алексей Марков, кандидат экономических наук, автор знаменитой "Хулиномики”, рок-звезда и отец четверых детей, учит людей думать в своей привычной манере: точно, жестко, с циничными шутками и очень легким языком.
        </p>
        <span class="more">Читать все</span>
        <div class="review-title">
            <h1>Отзывы</h1>
            <button class="add-review"
                    th:attr="data-user-id=${userId},
                data-book-title=${book.name},
                data-book-author=${book.author}">
                Добавить отзыв
            </button>
        </div>
    </div>
</main>
<div class="swiper reviews">
    <div class="swiper-wrapper">
        <div class="review swiper-slide" th:each="review:${reviews}">
            <span class="review-book-author" th:text="${review.bookAuthor}">Нанетти Анджела</span>
            <span class="review-book-name" th:text="${review.bookName}">Мой дедушка был вишней</span>
            <p class="content" th:text="${review.content}">
                Эту историю я прочитала за один день и с самых первых
                строк глаза были на мокром месте. Хоть эта история
                итальянской писательницы.
                ...
            </p>
            <div class="full-review">
                <span>Читать отзыв целиком</span>
                <div class="more-icon">
                    <img th:src="@{/static/adaptive/images/small-arrow.svg}" alt="more">
                </div>
            </div>
            <div class="user-info">
                <div class="avatar">
                    <img th:src="@{/static/adaptive/images/avatar.jpg}" alt="avatar">
                </div>
                <span th:text="${review.username}">Виктория Переска</span>
            </div>
            <div class="review-reactions">
                <div class="reaction">
                    <div th:if="${review.userReaction == 'LIKE'}">
                        <img class="like" th:src="@{/static/adaptive/images/marked-like.svg}" th:attr="data-id=${review.id}" alt="like">
                    </div>
                    <div th:unless="${review.userReaction == 'LIKE'}">
                        <img class="like" th:src="@{/static/adaptive/images/like.svg}" th:attr="data-id=${review.id}" alt="like">
                    </div>
                    <span class="like-count" th:text="${review.likes}" style="margin-top: 1px">+1</span>
                </div>
                <div class="reaction">
                    <div th:if="${review.userReaction == 'DISLIKE'}">
                        <img class="dislike" th:src="@{/static/adaptive/images/marked-dislike.svg}" th:attr="data-id=${review.id}" alt="dislike">
                    </div>
                    <div th:unless="${review.userReaction == 'DISLIKE'}">
                        <img class="dislike" th:src="@{/static/adaptive/images/dislike.svg}" th:attr="data-id=${review.id}" alt="dislike">
                    </div>
                    <span class="dislike-count" th:text="${review.dislikes}">0</span>
                </div>
            </div>
            <div class="review-buttons" th:if="${userId != null && userId == review.userId}">
                <button class="delete-button" th:attr="data-review-id=${review.id}">
                    Удалить
                </button>
                <button class="edit-button" th:attr="data-review-id=${review.id}, data-user-id=${review.userId}">
                    Изменить
                </button>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<main>
    <div class="container">
        <footer>
            <div class="footer-small-screen">
                <img class="logo" th:src="@{/static/adaptive/images/logo.svg}" alt="">
                <div class="block one">
                    <div class="block-item">
                        <div class="block-title">
                            Основное
                            <img class="arrow" th:src="@{/static/adaptive/images/footer-arrow.svg}" alt="">
                        </div>
                        <div class="block-content">
                            <div class="info">Каталог</div>
                            <div class="info">Партнерская программа</div>
                            <div class="info">Подробнее о нас</div>
                            <div class="info">Контакты</div>
                        </div>
                    </div>
                    <div class="block-item">
                        <div class="block-title">
                            Связаться с нами
                            <img class="arrow" th:src="@{/static/adaptive/images/footer-arrow.svg}" alt="">
                        </div>
                        <div class="block-content">
                            <div class="info" style="font-weight: 700">korablik@yandex.ru</div>
                            <div class="info">
                                <div class="footer-icons">
                                    <img th:src="@{/static/adaptive/images/VK.svg}" alt="">
                                    <img th:src="@{/static/adaptive/images/OK.svg}" alt="">
                                    <img th:src="@{/static/adaptive/images/twitter.svg}" alt="">
                                    <img th:src="@{/static/adaptive/images/telegram.svg}" alt="">
                                </div>
                            </div>
                            <div class="info">Мы на связи с 9 до 18 часов (GMT +03:00)  </div>
                        </div>
                    </div>
                </div>
                <div class="more-info">
                    <div class="footer-container">
                        <span>Бесплатный звонок по России</span>
                        <span class="bold-footer-text">8 (988) 545-55-55</span>
                    </div>
                    <div class="footer-container">
                        <span>Мы в социальных сетях</span>
                        <div class="footer-icons">
                            <img th:src="@{/static/adaptive/images/VK.svg}" alt="">
                            <img th:src="@{/static/adaptive/images/OK.svg}" alt="">
                            <img th:src="@{/static/adaptive/images/twitter.svg}" alt="">
                            <img th:src="@{/static/adaptive/images/telegram.svg}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-full-screen">
                <ul>
                    <li class="logo"><img th:src="@{/static/adaptive/images/logo.svg}" alt="logo"></li>
                    <li>Каталог</li>
                    <li>Партнерская программа</li>
                    <li>Подробнее о нас</li>
                    <li>Контакты</li>
                </ul>
                <ul>
                    <li>Остались вопросы? Напишите нам</li>
                    <li class="bold-footer-text">korablik@yandex.ru</li>
                    <li>
                        <div class="footer-icons">
                            <img th:src="@{/static/adaptive/images/VK.svg}" alt="">
                            <img th:src="@{/static/adaptive/images/OK.svg}" alt="">
                            <img th:src="@{/static/adaptive/images/twitter.svg}" alt="">
                            <img th:src="@{/static/adaptive/images/telegram.svg}" alt="">
                        </div>
                    </li>
                    <li>Мы на связи с 9 до 18 часов<br> (GMT +03:00)</li>
                </ul>
                <ul>
                    <li>Бесплатный звонок по России</li>
                    <li class="bold-footer-text">8 (988) 545-55-55</li>
                    <li>Мы в социальных сетях</li>
                    <li>
                        <div class="footer-icons">
                            <img th:src="@{/static/adaptive/images/VK.svg}" alt="">
                            <img th:src="@{/static/adaptive/images/OK.svg}" alt="">
                            <img th:src="@{/static/adaptive/images/twitter.svg}" alt="">
                            <img th:src="@{/static/adaptive/images/telegram.svg}" alt="">
                        </div>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</main>
<script th:src="@{/static/adaptive/scripts/categories.js}"></script>
<script th:src="@{/static/adaptive/scripts/spoiler.js}"></script>
<script th:src="@{/static/adaptive/scripts/reviews.js}"></script>
<script th:src="@{/static/adaptive/scripts/book-favorites.js}"></script>
<script th:src="@{/static/scripts/book-review.js}"></script>
<script th:src="@{/static/adaptive/scripts/delete-review.js}"></script>
<script th:src="@{/static/adaptive/scripts/add-review.js}"></script>
<script th:src="@{/static/adaptive/scripts/edit-review.js}"></script>
</body>
</html>