<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/static/adaptive/styles/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/adaptive/styles/header.css}">
    <link rel="stylesheet" th:href="@{/static/adaptive/styles/footer.css}">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div th:insert="~{adaptive/fragment :: header}"></div>

    <div class="banner">
        <h1>Читай книги - маркетплейс книжный товаров</h1>
        <h3>Сравнивайте цены и бронируйте книги в ближайших магазинах</h3>
        <a th:if="${user == null}" href="/auth/login">
            <button class="login-button">Войти</button>
        </a>
    </div>
    <div class="more-title">
        <span class="title">Популярное</span>
        <div class="more-container">
            <span class="more">Смотреть все</span>
            <div class="more-icon">
                <img th:src="@{/static/adaptive/images/arrow.svg}" alt="more">
            </div>
        </div>
    </div>

    <div class="book-cards">
        <div class="book-card" th:each="book:${topBooksByCirculation}">
            <a th:href="@{/books/{id}(id=${book.id})}">
                <img class="book-img" th:src="@{/api/books/{id}/image(id=${book.id})}" alt="book image">
            </a>
            <div class="content">
                <div>
                    <div class="container1">
                        <div class="rating-container">
                            <img class="star" th:src="@{/static/adaptive/images/star.svg}" alt="star">
                            <span class="rating" th:text="${book.rating}">4.9</span>
                        </div>
                        <img th:if="${userId != null && book.userId == userId && book.isInFavorites}"
                             class="favorites" th:src="@{/static/adaptive/images/marked-favorites.svg}"
                             th:attr="data-user-id=${book.id}"
                             alt="favorites">
                        <img th:unless="${userId != null && book.userId == userId && book.isInFavorites}"
                             class="favorites" th:src="@{/static/adaptive/images/favorites.svg}"
                             th:attr="data-user-id=${book.id}"
                             alt="favorites">
                    </div>
                    <h1 class="book-name" th:text="${book.name}">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                    <h3 class="book-author" th:text="${book.author}">Алексей Марков</h3>
                </div>
                <div class="container2">
                    <div class="to-cart-button"
                         th:if="${userId != null && book.userId == userId && book.isInCart}">Удалить</div>
                    <div class="to-cart-button"
                         th:unless="${userId != null && book.userId == userId && book.isInCart}">В корзину</div>
                    <span class="price" th:text="${book.price} + '$'">575$</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="best-sellers">
    <div class="title">Хиты продаж</div>
    <div class="book-cards">
        <div class="book-card" th:each="book:${topBooksByCirculation}">
            <a th:href="@{/books/{id}(id=${book.id})}">
                <img class="book-img" th:src="@{/api/books/{id}/image(id=${book.id})}" alt="book image">
            </a>
            <div class="content">
                <div>
                <div class="container1">
                    <div class="rating-container">
                        <img class="star" th:src="@{/static/adaptive/images/star.svg}" alt="star">
                        <span class="rating" th:text="${book.rating}">4.9</span>
                    </div>
                    <img th:if="${userId != null && book.userId == userId && book.isInFavorites}"
                         class="favorites" th:src="@{/static/adaptive/images/marked-favorites.svg}"
                         th:attr="data-user-id=${book.id}"
                         alt="favorites">
                    <img th:unless="${userId != null && book.userId == userId && book.isInFavorites}"
                         class="favorites" th:src="@{/static/adaptive/images/favorites.svg}"
                         th:attr="data-user-id=${book.id}"
                         alt="favorites">
                </div>
                <h1 class="book-name" th:text="${book.name}">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                <h3 class="book-author" th:text="${book.author}">Алексей Марков</h3>
                </div>
                <div class="container2">
                    <div class="to-cart-button"
                         th:if="${userId != null && book.userId == userId && book.isInCart}">Удалить</div>
                    <div class="to-cart-button"
                         th:unless="${userId != null && book.userId == userId && book.isInCart}">В корзину</div>
                    <span class="price" th:text="${book.price} + '$'">575$</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="more-title">
        <span class="title">Скоро в продаже</span>
        <div class="more-container">
            <span class="more">Смотреть все</span>
            <div class="more-icon">
                <img th:src="@{/static/adaptive/images/arrow.svg}" alt="more">
            </div>
        </div>
    </div>
    <div class="book-cards">
        <div class="book-card">
            <img class="book-img" th:src="@{/static/adaptive/images/book-image1.svg}" alt="book image">
            <div class="content">
                <div class="container1">
                    <div class="rating-container">
                        <img class="star" th:src="@{/static/adaptive/images/star.svg}" alt="star">
                        <span class="rating">4.9</span>
                    </div>
                    <img class="favorites" th:src="@{/static/adaptive/images/favorites.svg}" alt="favorites">
                </div>
                <h1 class="book-name">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                <h3 class="book-author">Алексей Марков</h3>
                <div class="container2">
                    <button class="to-cart-button">В корзину</button>
                    <span class="price">575$</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-img" th:src="@{/static/adaptive/images/book-image1.svg}" alt="book image">
            <div class="content">
                <div class="container1">
                    <div class="rating-container">
                        <img class="star" th:src="@{/static/adaptive/images/star.svg}" alt="star">
                        <span class="rating">4.9</span>
                    </div>
                    <img class="favorites" th:src="@{/static/adaptive/images/favorites.svg}" alt="favorites">
                </div>
                <h1 class="book-name">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                <h3 class="book-author">Алексей Марков</h3>
                <div class="container2">
                    <button class="to-cart-button">В корзину</button>
                    <span class="price">575$</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-img" th:src="@{/static/adaptive/images/book-image1.svg}" alt="book image">
            <div class="content">
                <div class="container1">
                    <div class="rating-container">
                        <img class="star" th:src="@{/static/adaptive/images/star.svg}" alt="star">
                        <span class="rating">4.9</span>
                    </div>
                    <img class="favorites" th:src="@{/static/adaptive/images/favorites.svg}" alt="favorites">
                </div>
                <h1 class="book-name">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                <h3 class="book-author">Алексей Марков</h3>
                <div class="container2">
                    <button class="to-cart-button">В корзину</button>
                    <span class="price">575$</span>
                </div>
            </div>
        </div>
        <div class="book-card">
            <img class="book-img" th:src="@{/static/adaptive/images/book-image1.svg}" alt="book image">
            <div class="content">
                <div class="container1">
                    <div class="rating-container">
                        <img class="star" th:src="@{/static/adaptive/images/star.svg}" alt="star">
                        <span class="rating">4.9</span>
                    </div>
                    <img class="favorites" th:src="@{/static/adaptive/images/favorites.svg}" alt="favorites">
                </div>
                <h1 class="book-name">Лягушка, слон и брокколи. Как жить и как не надо</h1>
                <h3 class="book-author">Алексей Марков</h3>
                <div class="container2">
                    <button class="to-cart-button">В корзину</button>
                    <span class="price">575$</span>
                </div>
            </div>
        </div>
    </div>
    <div class="more-title">
        <span class="title">Акции</span>
        <div class="more-container">
            <span class="more">Смотреть все</span>
            <div class="more-icon">
                <img th:src="@{/static/adaptive/images/arrow.svg}" alt="more">
            </div>
        </div>
    </div>
    <div class="banners">
        <img th:src="@{/static/adaptive/images/book-banner.png}" alt="book banner">
        <img th:src="@{/static/adaptive/images/book-banner.png}" alt="book banner">
        <img th:src="@{/static/adaptive/images/book-banner.png}" alt="book banner">
    </div>
    <div class="title"></div>
</div>
<hr>
<div class="container">
    <footer>
        <div class="footer-small-screen">
            <img class="logo" th:src="@{/static/adaptive/images/logo.svg}" alt="">
            <div class="block one">
                <div class="block-item">
                    <div class="block-title">
                        Основное
                        <img class="arrow" th:src="@{/static/adaptive/images/footer-arrow.svg}" alt="">
                    </div>
                    <div class="block-content">
                        <div class="info">Каталог</div>
                        <div class="info">Партнерская программа</div>
                        <div class="info">Подробнее о нас</div>
                        <div class="info">Контакты</div>
                    </div>
                </div>
                <div class="block-item">
                    <div class="block-title">
                        Связаться с нами
                        <img class="arrow" th:src="@{/static/adaptive/images/footer-arrow.svg}" alt="">
                    </div>
                    <div class="block-content">
                        <div class="info" style="font-weight: 700">korablik@yandex.ru</div>
                        <div class="info">
                            <div class="footer-icons">
                                <img th:src="@{/static/adaptive/images/VK.svg}" alt="">
                                <img th:src="@{/static/adaptive/images/OK.svg}" alt="">
                                <img th:src="@{/static/adaptive/images/twitter.svg}" alt="">
                                <img th:src="@{/static/adaptive/images/telegram.svg}" alt="">
                            </div>
                        </div>
                        <div class="info">Мы на связи с 9 до 18 часов (GMT +03:00)  </div>
                    </div>
                </div>
            </div>
            <div class="more-info">
                <div class="footer-container">
                    <span>Бесплатный звонок по России</span>
                    <span class="bold-footer-text">8 (988) 545-55-55</span>
                </div>
                <div class="footer-container">
                    <span>Мы в социальных сетях</span>
                    <div class="footer-icons">
                        <img th:src="@{/static/adaptive/images/VK.svg}" alt="">
                        <img th:src="@{/static/adaptive/images/OK.svg}" alt="">
                        <img th:src="@{/static/adaptive/images/twitter.svg}" alt="">
                        <img th:src="@{/static/adaptive/images/telegram.svg}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-full-screen">
            <ul>
                <li class="logo"><img th:src="@{/static/adaptive/images/logo.svg}" alt="logo"></li>
                <li>Каталог</li>
                <li>Партнерская программа</li>
                <li>Подробнее о нас</li>
                <li>Контакты</li>
            </ul>
            <ul>
                <li>Остались вопросы? Напишите нам</li>
                <li class="bold-footer-text">korablik@yandex.ru</li>
                <li>
                    <div class="footer-icons">
                        <img th:src="@{/static/adaptive/images/VK.svg}" alt="">
                        <img th:src="@{/static/adaptive/images/OK.svg}" alt="">
                        <img th:src="@{/static/adaptive/images/twitter.svg}" alt="">
                        <img th:src="@{/static/adaptive/images/telegram.svg}" alt="">
                    </div>
                </li>
                <li>Мы на связи с 9 до 18 часов<br> (GMT +03:00)</li>
            </ul>
            <ul>
                <li>Бесплатный звонок по России</li>
                <li class="bold-footer-text">8 (988) 545-55-55</li>
                <li>Мы в социальных сетях</li>
                <li>
                    <div class="footer-icons">
                        <img th:src="@{/static/adaptive/images/VK.svg}" alt="">
                        <img th:src="@{/static/adaptive/images/OK.svg}" alt="">
                        <img th:src="@{/static/adaptive/images/twitter.svg}" alt="">
                        <img th:src="@{/static/adaptive/images/telegram.svg}" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </footer>
</div>
<script th:src="@{/static/adaptive/scripts/categories.js}"></script>
<script th:src="@{/static/adaptive/scripts/main.js}"></script>
<script th:src="@{/static/adaptive/scripts/spoiler.js}"></script>
<script th:src="@{/static/adaptive/scripts/book-favorites.js}"></script>
<script th:src="@{/static/adaptive/scripts/book-cart.js}"></script>
</body>
</html>