<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/static/adaptive/styles/login.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="container">
    <h1 class="title">Вход</h1>
    <form method="POST" th:action="@{/auth/login}">
        <label>
            <input name="username" type="text" placeholder="Имя пользователя">
        </label>
        <label>
            <input name="password" type="password" placeholder="Пароль">
            <div class="error" th:if="${param.error}">
                Неправильный логин или пароль
            </div>
        </label>
        <input type="submit" value="Войти">
    </form>
    <div class="registration-info">
        Впервые на сайте? <a class="registration-link" href="/auth/registration">Зарегистрироваться</a>
    </div>
</div>
</body>
</html>