*{
    margin: 0;
    padding: 0;
    font-family: Philosopher, serif;
    color: rgb(17, 12, 31);
}

header{
    height: 85px;
    display: flex;
    align-items: center;
    padding-left: 340px;
    padding-right: 340px;
    background-color: white;
    position: fixed;
    z-index: 1000;
    margin-bottom: 24px;
}

.catalog-button{
    width: 85px;
    height: 17px;
    border: 1px solid rgb(41, 2, 71);
    margin-left: 26px;
    border-radius: 5px;
    padding: 12px 16px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.catalog-image{
    width: 16px;
    height: 9px;
}

.catalog-button-text{
    margin-right: 10px;
}

.search{
    width: 481px;
    height: 28px;
    padding: 6px 12px 6px 30px;
    border-radius: 5px;
    display: flex;
    border: 0;
    align-items: center;
    font-size: 16px;
    color: black;
    margin-left: 104px;
    margin-right: 78px;
    background: #E7E7E7 url("../images/searchIcon.svg") no-repeat center left 7px;
}

.search:focus{
    outline: none;
}

.nav-button{
    color: rgb(17, 12, 31);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}

.nav-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.login-button{
    padding: 12px 32px;
    border-radius: 5px;
    background: rgb(41, 2, 71);
    color: white;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    border: 0;
}

.login-div{
    width: 43px;
    height: 16px;
    padding: 12px 32px;
    border-radius: 5px;
    background: rgb(41, 2, 71);
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.categories{
    display: flex;
    justify-content: space-between;
}

.category{
    display: inline-block;
    padding:6px 16px;
    font-size: 16px;
    border: 1px solid rgb(17, 12, 31);
    border-radius: 10px;
    cursor: pointer;
}

.category:hover{
    color: white;
    background-color:rgb(17, 12, 31);
    transition-duration: 400ms;
    transition-property: color,background-color;
}

.menu{
    margin-top: 20px;
    display: none;
    position: fixed;
    background-color: white;
    height: 100%;
    z-index: 1000;
}

.menu div{
    width: 255px;
    height: 20px;
    padding: 12px 20px;
    user-select: none;
    cursor: pointer;
}

.menu div:hover{
    background-color: #E6DCFF;
}

.show{
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #110C1F4A;
    z-index: 999;
    backdrop-filter: blur(5px);
}

a{
    text-decoration: none;
}