@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Philosopher, serif;
    color: rgb(17, 12, 31);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
html{
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 51px;
}

input{
    width: 100%;
    height: 62px;
    padding-left: 38px;
    padding-right: 20px;
    margin-bottom: 16px;
    background-color: #e6e6e6;
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 100%;
    background-color: #290247FF;
    color: white;
    cursor: pointer;
    transition-duration: 400ms;
    transition-property: background-color;
    box-sizing: border-box;
}

input[type="submit"]:hover{
    background-color: #58039a;
    transition-duration: 400ms;
}

.container {
    width: 358px;
}

.error{
    margin-bottom: 16px;
    color: red;
}

@media (max-width: 1919px) {
    .container {
        width: 358px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: 358px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 30px;
    }

    input {
        height: 50px;
        font-size: 16px;
        padding-left: 20px;
        padding-right: 10px;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        height: 50px;
        font-size: 16px;
    }
}
