.banner1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 269px;
    border-radius: 5px;
    background-color: rgb(185, 230, 255);
    background-image: url("../images/banner1Background.svg");
    background-size: cover;
    background-position: center 22%;
}

.banner1-h1{
    margin-left: 46px;
    margin-bottom: 16px;
    font-size: 28px;
    font-weight: 700;
}

.banner1-h2{
    margin-left: 46px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner1-button{
    margin-left: 46px;
}
.div1{
    width: 100%;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    align-items: center;
}
.watch-all{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}

.watch-all-button{
    border-radius: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-left: 8px;
    border: 1px solid rgb(17, 12, 31);
}
.book-cards{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.book-card{
    width: 265px;
    height: 136px;
    padding: 21px 9px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 1px 0 7px -5px;
    rgba(31, 26, 45, 0.22);
    border-radius: 5px;
    background-color: white;
}

.book-card-container1{
    display: flex;
    flex-direction: column;
}

.book-card-container2{
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.book-image{
    width: 86px;
    height: 136px;
    border-radius: 5px;
    margin-right: 8px;
}

.star{
    margin-left: 8px;
    margin-right: 4px;
}

.rate{
    margin-right: 105px;
}

.book-name{
    font-size: 13px;
    font-weight: 400;
    line-height: 97%;
    margin-bottom: 4px;
}

.book-author{
    font-size: 14px;
    font-weight: 400;
    color: rgb(141, 141, 141);
}

.book-card-container3{
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.add-to-cart-button{
    width: 70px;
    height: 17px;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    margin-right: 18px;
    background: rgb(41, 2, 71);
    color: white;
    cursor: pointer;
}

.book-price{
    font-size: 24px;
    font-weight: 400;
}

.best-sellers{
    height: 340px;
    background-color: #B9E6FF;
    background-image: url("../images/bestSellersBackground.png");
    background-position: -50px -60px;
    padding-left: 350px;
    padding-right: 350px;
    display: flex;
    flex-direction: column;
}

.best-seller-title{
    font-size: 32px;
    font-weight: 400;
    padding-top: 32px;
    margin-bottom: 32px;
}

.best-sellers-container{
    display: flex;
    justify-content: space-between;
}

.stocks-banner{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 100px;
}

footer{
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.footer-ul{
    list-style: none;
}

.footer-ul li{
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 151.69%;
}

.social-logos{
    display: flex;
    width: 100%;
    align-items: center;
}

.social-logos img{
    margin-right: 32px;
}
.footer-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo{
    width: 105px;
    height: 40px;
}

.menu{
    margin-top: 20px;
    display: none;
    position: fixed;
    height: 100%;
    background-color: white;
    z-index: 1000;
}

.menu div{
    width: 255px;
    height: 20px;
    padding: 12px 20px;
    user-select: none;
    cursor: pointer;
}

.show{
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #110C1F4A;
    z-index: 999;
    backdrop-filter: blur(5px);
}

.book-info{
    display: flex;
    flex-direction: column;
    height: 50px;
}

.favorites-icon{
    cursor: pointer;
}